// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as GeneralAugment from "../../../index.js";

export declare namespace AgentClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AgentClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AgentClient.Options>;

    constructor(options: AgentClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Return one tenant user's stored profile and recent memory facts.
     *
     * @param {GeneralAugment.MemoryProfileApiV1AgentMemoryProfileUserIdGetRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link GeneralAugment.UnprocessableEntityError}
     *
     * @example
     *     await client.agent.memoryProfile({
     *         user_id: "user_id"
     *     })
     */
    public memoryProfile(
        request: GeneralAugment.MemoryProfileApiV1AgentMemoryProfileUserIdGetRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<GeneralAugment.MemoryProfileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__memoryProfile(request, requestOptions));
    }

    private async __memoryProfile(
        request: GeneralAugment.MemoryProfileApiV1AgentMemoryProfileUserIdGetRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<GeneralAugment.MemoryProfileResponse>> {
        const { user_id: userId, agent_run_id: agentRunId } = request;
        const _queryParams: Record<string, unknown> = {
            agent_run_id: agentRunId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Project-ID": requestOptions?.projectId ?? this._options?.projectId }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.GeneralAugmentEnvironment.Production,
                `api/v1/agent/memory/profile/${core.url.encodePathParam(userId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as GeneralAugment.MemoryProfileResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new GeneralAugment.UnprocessableEntityError(
                        _response.error.body as GeneralAugment.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.GeneralAugmentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/agent/memory/profile/{user_id}",
        );
    }

    /**
     * Semantically search one tenant user's memories.
     *
     * @param {GeneralAugment.MemorySearchRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link GeneralAugment.UnprocessableEntityError}
     *
     * @example
     *     await client.agent.searchMemory({
     *         user_id: "user_id"
     *     })
     */
    public searchMemory(
        request: GeneralAugment.MemorySearchRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<GeneralAugment.MemorySearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__searchMemory(request, requestOptions));
    }

    private async __searchMemory(
        request: GeneralAugment.MemorySearchRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<GeneralAugment.MemorySearchResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Project-ID": requestOptions?.projectId ?? this._options?.projectId }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.GeneralAugmentEnvironment.Production,
                "api/v1/agent/memory/search",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as GeneralAugment.MemorySearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new GeneralAugment.UnprocessableEntityError(
                        _response.error.body as GeneralAugment.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.GeneralAugmentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/agent/memory/search");
    }

    /**
     * Store one explicit memory fact for a tenant user.
     *
     * @param {GeneralAugment.MemoryStoreRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link GeneralAugment.UnprocessableEntityError}
     *
     * @example
     *     await client.agent.storeMemory({
     *         fact: "fact",
     *         user_id: "user_id"
     *     })
     */
    public storeMemory(
        request: GeneralAugment.MemoryStoreRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<GeneralAugment.MemoryStoreResponse> {
        return core.HttpResponsePromise.fromPromise(this.__storeMemory(request, requestOptions));
    }

    private async __storeMemory(
        request: GeneralAugment.MemoryStoreRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<GeneralAugment.MemoryStoreResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Project-ID": requestOptions?.projectId ?? this._options?.projectId }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.GeneralAugmentEnvironment.Production,
                "api/v1/agent/memory/store",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as GeneralAugment.MemoryStoreResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new GeneralAugment.UnprocessableEntityError(
                        _response.error.body as GeneralAugment.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.GeneralAugmentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/agent/memory/store");
    }

    /**
     * Delete all memories for one external application user.
     *
     * @param {GeneralAugment.PurgeUserMemoryApiV1AgentMemoryUserUserIdDeleteRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link GeneralAugment.UnprocessableEntityError}
     *
     * @example
     *     await client.agent.purgeUserMemory({
     *         user_id: "user_id"
     *     })
     */
    public purgeUserMemory(
        request: GeneralAugment.PurgeUserMemoryApiV1AgentMemoryUserUserIdDeleteRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<GeneralAugment.MemoryDeleteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__purgeUserMemory(request, requestOptions));
    }

    private async __purgeUserMemory(
        request: GeneralAugment.PurgeUserMemoryApiV1AgentMemoryUserUserIdDeleteRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<GeneralAugment.MemoryDeleteResponse>> {
        const { user_id: userId, agent_run_id: agentRunId } = request;
        const _queryParams: Record<string, unknown> = {
            agent_run_id: agentRunId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Project-ID": requestOptions?.projectId ?? this._options?.projectId }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.GeneralAugmentEnvironment.Production,
                `api/v1/agent/memory/user/${core.url.encodePathParam(userId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as GeneralAugment.MemoryDeleteResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new GeneralAugment.UnprocessableEntityError(
                        _response.error.body as GeneralAugment.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.GeneralAugmentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/agent/memory/user/{user_id}",
        );
    }

    /**
     * Delete one memory fact for one external application user.
     *
     * @param {GeneralAugment.DeleteMemoryApiV1AgentMemoryMemoryIdDeleteRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link GeneralAugment.UnprocessableEntityError}
     *
     * @example
     *     await client.agent.deleteMemory({
     *         memory_id: "memory_id",
     *         user_id: "user_id"
     *     })
     */
    public deleteMemory(
        request: GeneralAugment.DeleteMemoryApiV1AgentMemoryMemoryIdDeleteRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<GeneralAugment.MemoryDeleteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteMemory(request, requestOptions));
    }

    private async __deleteMemory(
        request: GeneralAugment.DeleteMemoryApiV1AgentMemoryMemoryIdDeleteRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<GeneralAugment.MemoryDeleteResponse>> {
        const { memory_id: memoryId, user_id: userId, agent_run_id: agentRunId } = request;
        const _queryParams: Record<string, unknown> = {
            user_id: userId,
            agent_run_id: agentRunId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Project-ID": requestOptions?.projectId ?? this._options?.projectId }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.GeneralAugmentEnvironment.Production,
                `api/v1/agent/memory/${core.url.encodePathParam(memoryId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as GeneralAugment.MemoryDeleteResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new GeneralAugment.UnprocessableEntityError(
                        _response.error.body as GeneralAugment.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.GeneralAugmentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/agent/memory/{memory_id}",
        );
    }
}
