// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as GeneralAugment from "../../../index.js";

export declare namespace ResponsesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ResponsesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ResponsesClient.Options>;

    constructor(options: ResponsesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create one Responses API-compatible agent response.
     *
     * @param {GeneralAugment.ResponsesRequest} request
     * @param {ResponsesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link GeneralAugment.ConflictError}
     * @throws {@link GeneralAugment.UnprocessableEntityError}
     *
     * @example
     *     await client.responses.createResponse({
     *         model: "model"
     *     })
     */
    public createResponse(
        request: GeneralAugment.ResponsesRequest,
        requestOptions?: ResponsesClient.RequestOptions,
    ): core.HttpResponsePromise<GeneralAugment.ResponsesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createResponse(request, requestOptions));
    }

    private async __createResponse(
        request: GeneralAugment.ResponsesRequest,
        requestOptions?: ResponsesClient.RequestOptions,
    ): Promise<core.WithRawResponse<GeneralAugment.ResponsesResponse>> {
        const { "X-Agent-ID": agentId, "X-Deployment-ID": deploymentId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Agent-ID": agentId ?? undefined,
                "X-Deployment-ID": deploymentId ?? undefined,
                "X-Project-ID": requestOptions?.projectId ?? this._options?.projectId,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.GeneralAugmentEnvironment.Production,
                "v1/responses",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as GeneralAugment.ResponsesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 409:
                    throw new GeneralAugment.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new GeneralAugment.UnprocessableEntityError(
                        _response.error.body as GeneralAugment.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.GeneralAugmentError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/responses");
    }
}
